.vscode
.python-version
.pytest_cache
output.*4
*.png     
__pycache__ 
debug_helper_tools  
output_frames   
output.mp4  
output_frames_old
videos
*.mp4
*.h264
*.h265
*.png
*.jpg
*.zip
gst_helper_functions.py
*.dot
models
*testing*
deepstream_functions_*_*
deepstream_functions
csi_pipeline_demo*
test_nozzlenet*
test_images/
.vscode
mw_project
*unit_test*
torchvision
RTSPtoWebRTC
archive
mw_csi_pkg
mw_project
__init__.pyc
.vscode
test-orin-py
torch*
*.svg
simple_pipeline.py
csi/graphs
csi/*pipeline.py
test*