[Unit]
Description=Bucher GPIO Setup Service
After=sysinit.target
Before=gpio-monitoring.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'gpioget $(gpiofind PH.01) >/dev/null 2>&1 || exit 1'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
